@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

/* main-section */
.main-section {
  position: relative;
}

.main-section > .background {
  position: absolute;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-size: 150%;
  background-position: 50% 0;
  background-repeat: repeat-x;
  opacity: 0.1;
  animation: clouds 10s linear infinite;
}
.error-icon {
  animation: error 2s infinite;
}

@media (width: 768px) {
  .main-section > .background {
    background-size: 120%;
  }
}
/* Animations */
@keyframes error {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300% 0;
  }
}
